body {
	margin: 0;
	font-family: "Courier New", Courier, monospace;
	background: rgb(244, 189, 189);
	background: radial-gradient(
		circle,
		rgba(244, 189, 189, 1) 0%,
		rgba(198, 206, 249, 1) 100%
	);
}

.wrapper {
	width: 100%;
	height: 1000px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: rgb(47, 73, 214);
	background: radial-gradient(
		circle,
		rgba(47, 73, 214, 1) 23%,
		rgba(179, 72, 72, 1) 100%
	);
}

.logo img {
	width: 70px;
}

nav {
	align-items: center;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
	font-size: 18px;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

.aboutme {
	width: 50%;
	border-width: 3px;
	border-style: solid;
	border-color: black;
}

.aboutme h1 {
	font-size: 30px;
	padding-right: 60%;
	padding-left: 10px;
}

.aboutme h2 {
	font-size: 20px;
	padding-right: 60%;
	padding-left: 10px;
	width: 90%;
}

.foto img {
	align-items: center;
}

.foto h1 {
	padding-right: 60%;
}

.contact img {
	width: 50px;
}

.contact p {
	align-self: center;
}

header {
	height: 150vh;
	background-image: url(Images/Supergirl.jpg);
	background-size: cover;
}

.myskills {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}

.myskills img {
	max-width: 100%;
	max-height: 500px;
	border-radius: 10px;
	object-fit: contain;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.writing {
	display: flex;
	flex-direction: row;
}

.research {
	display: flex;
	flex-direction: row;
}

.teamwork {
	display: flex;
	flex-direction: row;
}

.speaking {
	display: flex;
	flex-direction: row;
}

.tekstright {
	font-size: 20px;
	padding-right: 5%;
	width: 100%;
	align-self: center;
	margin-left: 50px;
	margin-right: 50px;
}

.tekstleft {
	font-size: 20px;
	padding-right: 5%;
	width: 100%;
	align-self: center;
	margin-left: 50px;
	margin-right: 50px;
}
