/*Homepage*/

body {
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
	background: rgb(244, 189, 189);
	background: radial-gradient(
		circle,
		rgba(244, 189, 189, 1) 0%,
		rgba(198, 206, 249, 1) 100%
	);
}

.intro {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 768px) {
	.intro {
		flex-direction: column;
	}
}

.introleft {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: rgb(47, 73, 214);
	background: radial-gradient(
		circle,
		rgba(47, 73, 214, 1) 23%,
		rgba(179, 72, 72, 1) 100%
	);
}

@media screen and (min-width: 768px) {
	.mobile-container {
		display: none;
	}
}

/*Header*/
.logo img {
	width: 70px;
}

nav {
	align-items: center;
}

nav ul li:hover {
	background-color: white;
	font-weight: bold;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
	font-size: 18px;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 768px) {
	.header {
		display: none;
	}
	.mobile-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background: rgb(47, 73, 214);
		background: radial-gradient(
			circle,
			rgba(47, 73, 214, 1) 23%,
			rgba(179, 72, 72, 1) 100%
		);
	}

	.topnav {
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	.topnav #myLinks {
		display: none;
	}

	.topnav a {
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
	}

	.topnav a.icon {
		background: black;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav a:hover {
		background-color: #ddd;
		color: black;
	}
}
/*Introduction*/

.aboutme h1 {
	font-size: 30px;
	padding-right: 60%;
	padding-left: 50px;
	padding-top: 50px;
}

.aboutme h2 {
	font-size: 20px;
	padding-right: 60%;
	padding-left: 50px;
	width: 90%;
}

/*My contact details*/
.contact img {
	display: flex;
	flex-direction: column;
	width: 50px;
	padding-left: 50px;
}

.name {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.name {
		flex-direction: column;
	}
}

.study {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.study {
		flex-direction: column;
	}
}

.work {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.work {
		flex-direction: column;
	}
}

.email {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.email {
		flex-direction: column;
	}
}

.contact h1 {
	padding-left: 50px;
	padding-top: 100px;
	width: 100%;
}

.contact p {
	align-self: center;
	padding-left: 50px;
}

/*Cara Danvers*/
.foto h1 {
	padding-left: 50px;
	padding-top: 50px;
}

.foto img {
	display: flex;
	flex-direction: column;
	margin-right: 50%;
}

/*My skills*/
.myskills {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}

.myskills img {
	max-width: 100%;
	max-height: 500px;
	border-radius: 10px;
	object-fit: contain;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.writing {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 768px) {
	.writing {
		flex-direction: column;
	}
}

.research {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 768px) {
	.research {
		flex-direction: column;
	}
}

.teamwork {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 768px) {
	.teamwork {
		flex-direction: column;
	}
}

.speaking {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 768px) {
	.speaking {
		flex-direction: column;
	}
}

.tekstright {
	font-size: 20px;
	padding-right: 5%;
	width: 100%;
	align-self: center;
	margin-left: 50px;
	margin-right: 50px;
}

.tekstleft {
	font-size: 20px;
	padding-right: 5%;
	width: 100%;
	align-self: center;
	margin-left: 50px;
	margin-right: 50px;
}

/*My skills*/

header {
	height: 100vh;
	background-image: url(Images/Supergirl2.jpg);
	background-size: cover;
}

.experience {
	display: flex;
	flex-direction: column;
	padding-top: 1px;
	flex: 50%;
}

.tittle h1 {
	font-size: 50px;
	padding-left: 20px;
	width: 100%;
	align-self: center;

	margin-right: 50px;
	display: flex;
	flex-direction: column;
	align-self: center;
	padding-bottom: 20px;
}

.justice h1 {
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	padding-bottom: 10px;
}

.justice h2 {
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	padding-bottom: 10px;
}

.justice p {
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	padding-bottom: 40px;
}

.DEO h1 {
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	padding-bottom: 10px;
}

.DEO h2 {
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	padding-bottom: 10px;
}

.DEO p {
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	padding-bottom: 40px;
}

.freelance h1 {
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	padding-bottom: 10px;
}

.freelance h2 {
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	padding-bottom: 10px;
}

.freelance p {
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	padding-bottom: 40px;
}

.supergirl {
	display: flex;
	flex-direction: row;
	flex: 50%;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px;
}

@media screen and (max-width: 768px) {
	.supergirl {
		flex-direction: column;
	}
}

.supergirl img {
	margin-right: 20px;
	width: 100%;
}

.pro {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 768px) {
	.pro {
		flex-direction: column;
	}
}
